<section>
  <h1>Custom Pipe 1</h1>
  <div>
    <p>Fahrenheit to Celsius</p>
    <p>Fahrenheit : <input type="text" [(ngModel)]="Fahrenheit" /></p>
    <p>{{  Fahrenheit | temperatureConverter : 'C'  }} C</p>
    <br>
    <p>Celcius to Fahrenheit</p>
    <p>Celcius : <input type="text" [(ngModel)]="Celsius" /></p>
    <p>{{ Celsius | temperatureConverter: 'F'  }} F</p>
  </div>
</section>
<section>
    <h1>Custom Pipe 2</h1>
    <div>
      <p>Kilograms to Pounds</p>
      <p>Kilograms : <input type="text" [(ngModel)]="Kilograms" /></p>
      <p>{{  Kilograms | weightConverter : 'Pounds'  }} Pounds</p>
      <br>
      <p>Pounds to Kilograms</p>
      <p>Pounds : <input type="text" [(ngModel)]="Pounds" /></p>
      <p>{{ Pounds | weightConverter: 'Kgs'  }} Kilograms</p>
    </div>
  </section>